[Unit]
Description=Run Momentum Alpha trade data sync periodically

[Timer]
OnCalendar=*-*-* *:04,19,34,49:00
AccuracySec=1s
Persistent=true
Unit=momentum-alpha-trade-data-sync.service

[Install]
WantedBy=timers.target
